@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 2rem;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

:root {
    --green: #02681e;
    --dark-green: #00491e;
    --yellow: #ffc600;
    --light-green: #919f02;
}

section {
    padding: 50px 10%;
}

*::selection {
    color: #fff;
    background: var(--green);
}

img {
    width: 100%;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    box-shadow: 0 3px 15px rgb(0,73,30, .5);
    padding: 15px 10%;
    transition: 0.2s;
}

.logo {
    display: flex;
    align-items: center;
}

.logo span {
    margin-left: 8px;
    color: var(--dark-green);
    font-weight: 600;
    font-size: 1rem;
}

.logo img {
    width: 50px;
}

.navbar {
    display: flex;
}

.navbar a {
    font-size: 1rem;
    padding: 11px 30px;
    color: var(--dark-green);
    font-weight: 600;
    transition: 0.3s;
}

.navbar a:hover {
    font-size: 1.1rem;
    color: var(--green);

    transition: 0.3s;
}

#menu-icon {
    font-size: 24px;
    cursor: pointer;
    z-index: 1001;
    display: none;
    color: var(--dark-green);
}

.contact p {
    text-align: center;
}

@media (max-width: 1150px) {
    header {
        padding: 18px 7%;
        box-shadow: 0 3px 15px rgb(0,73,30, .5);
    }

    section {
        padding: 50px 7%;
    }

    .home-text h1 {
        font-size: 3rem;
    }

    .home-text h2 {
        font-size: 1.5rem;
    }
}

@media (max-width: 991px) {
    header {
        padding: 18px 4%;
        box-shadow: 0 3px 15px rgb(0,73,30, .5);
    }

    section {
        padding: 50px 4%;
    }
}

@media (max-width: 768px) {
    header {
        padding: 11px 4%;
        box-shadow: 0 3px 15px rgb(0,73,30, .5);
    }
    

    #menu-icon {
        display: initial;
    }

    header .navbar {
        position: absolute;
        top: -500px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        background: #fff;
        box-shadow: 0 10px 10px rgb(0,73,30, .5);
        
        transition: 0.3s;
        text-align: left;
    }

    .navbar.active {
        top: 100%;
    }

    .navbar a {
        padding: 1.5rem;
        display: block;
        color: var(--green);
    }
    .navbar a:hover {
        color: var(--dark-green);
    }

    .home-text span {
        font-size: 0.9rem;
    }
    .home-text h1 {
        font-size: 2.4rem;
    }
    .home-text h2 {
        font-size: 1.2rem;
    }
}

@media (max-width: 768px) {
    .home-text {
        padding-top: inherit;
    }
    .shop-container .box {
        margin-top: 6rem;
    }
    .heading h1 {
        font-size: 1.5rem;
    }
    .heading span {
        font-size: 0.9rem;
    }
    .about {
        flex-direction: column-reverse;
    }
    .links {
        display: flex;
        flex-direction: column;
    }
}


@media (max-width: 364px) {
    .links {
        display: flex;
        flex-direction: column;
    }

}